<div class="d-flex justify-content-between">
    {{> medication}}
    <div>
        <button class="btn btn-primary bg-light text-dark shadow-sm" id="edit-medication-{{id}}" onclick="updateEditForm('{{name}}', '{{dosage}}', '{{notes}}', '{{id}}')">
            <i class="fa-solid fa-edit"></i>
        </button>
        <button class="btn btn-primary bg-light text-dark shadow-sm" id="delete-medication-{{id}}" onclick="deleteMedication({{id}})">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</div>
